[Unit]
Description=autowake

[Service]
# We need a PERMANENT neighbor table entry because otherwise the ARP resolution
# will fail and TCP packets will not be sent.
ExecStartPre=/bin/ip neighbor replace to 10.0.0.250 lladdr 00:08:9b:d0:31:ef dev eth0
# The size limit is so that when you upload data to the NAS, not every packet
# has to go through userspace
ExecStartPre=/sbin/iptables -A OUTPUT -d 10.0.0.250/32 -p tcp --dport 445 -m length --length 0:500 -j NFQUEUE --queue-num 23
ExecStart=/home/michael/gocode/bin/autowake

[Install]
WantedBy=multi-user.target
