[Unit]
Description=pushes homematic data to prometheus

[Service]
Restart=always
RestartSec=5
# Allow infinite restarts, even within a short time.
StartLimitInterval=0
ExecStart=/usr/bin/homematic2prometheus \
	-param_whitelist=ACTUAL_TEMPERATURE,ACTUAL_HUMIDITY,SET_TEMPERATURE,CONTROL_MODE,BOOT,ENERGY_COUNTER,POWER,CURRENT,VOLTAGE,FREQUENCY

[Install]
WantedBy=multi-user.target
